<header class="header">
    <div class="container container-header">
        <a href="/index.html" class="item-icons-mobile">
            <svg class="icon-logo" width="168" height="16">
                <use href="/img/icon-sprite.svg#icon-logo"></use>
            </svg>
        </a>
        <nav class="header-nav">
            <ul class="header-menu">
                <li class="header-menu-link">
                    <a class="link-menu" href="#how-it-works">How It Works</a>
                </li>
                <li class="header-menu-link">
                    <a class="link-menu" href="#vegetables">Vegetables</a>
                </li>
                <li class="header-menu-link">
                    <a class="link-menu" href="#reviews">Reviews</a>
                </li>
                <li class="header-menu-link">
                    <a class="link-menu-btn" href="#shop-now">Shop now</a>
                </li>
            </ul>
        </nav>
        <button class="mobile-menu-btn" type="button" data-menu-open>
            <svg class="mobile-menu-svg" width="32" height="32">
                <use href="/img/icon-sprite.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
    <div class="shop-window" data-menu>
        <div class="shop">
            <button class="shop-close-btn" type="button" data-menu-close>
                <svg class="shop-close-icon" width="32" height="32">
                    <use href="/img/icon-sprite.svg#icon-close-x"></use>
                </svg>
            </button>
            <ul class="header-menu-tablet">
                <li class="shop-link-menu-list">
                    <a class="shop-link-menu" href="#how-it-works">How It Works</a>
                </li>
                <li class="shop-link-menu-list">
                    <a class="shop-link-menu" href="#vegetables">Vegetables</a>
                </li>
                <li class="shop-link-menu-list">
                    <a class="shop-link-menu" href="#reviews">Reviews</a>
                </li>
            </ul>
            <div class="shop-btn">
                <a class="shop-link-menu-btn" href="#shop-now">Shop now</a>
            </div>
        </div>
    </div>
</header>
