
    <header class="header">
        
        
        <div class="container-header">
            <div class="logo">
                <a href="" class="item-icons-mobile">
                    <svg class="item" width="" height="">
                        <use href="/img/icon-sprite.svg#icon-logo"></use>
                    </svg>
                </a>
            </div>
            <nav class="header-nav">
                <ul class="header-menu">
                    <li class="header-menu-link">
                        <a class="link-menu" href="#how-it-works" >How It Works</a>
                    </li>
                    <li class="header-menu-link">
                        <a class="link-menu" href="#vegetables" >Vegetables</a>
                    </li>
                    <li class="header-menu-link">
                        <a class="link-menu" href="#reviews">Reviews</a>
                    </li>
                    <li class="header-menu-link">
                        <a class="link-menu-btn" href="#shop-now">Shop now</a>
                    </li>
                </ul>
            </nav>
            <button class="mobile-menu-btn" type="button" data-menu-open>
                <svg class="mobile-menu-svg" width="" height="">
                    <use href="/img/icon-sprite.svg#icon-menu"></use>
                </svg>
        </div>
        <div class="shop-window" data-menu>
            <div class="shop">
                <button class="shop-close-btn" type="button" data-menu-close>
                    <svg class="shop-close-icon" width="" height="">
                        <use href="/img/icon-sprite.svg#icon-close-x"></use>
                    </svg>
                </button>
                <ul class="header-menu-tablet">
                    <li>
                        <a class="shop-link-menu" href="#how-it-works">How It Works</a>
                    </li>
                    <li>
                        <a class="shop-link-menu" href="#vegetables">Vegetables</a>
                    </li>
                    <li>
                        <a class="shop-link-menu" href="#reviews">Reviews</a>
                    </li>
                </ul>
                <div class="shop-btn">
                    <a class="shop-link-menu-btn" href="#shop-now">Shop now</a>
                </div>
            </div>
        </div>
        
        

    </header>
