<section id="vegetables" class="vegetables-section">
  <div class="vegetables-wrapper container">
    <h2 class="vegetables-title">
      organic <span class="vegetables-title-part">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-name">eggplant</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <img
          class=""
          src="/img/vegetables/eggplant.png"
          srcset="/img/vegetables/eggplant@2x.png 2x"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">leek</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <picture>
          <source
            srcset="/img/vegetables/leek.png 1x, /img/vegetables/leek@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/vegetables/leek_mobile.png    1x,
              /img/vegetables/leek_mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/vegetables/leek_mobile.png"
            alt="Leek"
            width="282"
            height="243"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">mushrooms</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <picture>
          <source
            srcset="
              /img/vegetables/mushrooms.png    1x,
              /img/vegetables/mushrooms@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/vegetables/mushrooms_mobile.png    1x,
              /img/vegetables/mushrooms_mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/vegetables/mushrooms_mobile.png"
            alt="Mushrooms"
            width="282"
            height="243"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">corn</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <picture>
          <source
            srcset="/img/vegetables/corn.png 1x, /img/vegetables/corn@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/vegetables/corn_mobile.png    1x,
              /img/vegetables/corn_mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/vegetables/corn_mobile.png"
            alt="Corn"
            width="282"
            height="243"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">sweet potatoes</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <picture>
          <source
            srcset="
              /img/vegetables/sweet_potatoes.png    1x,
              /img/vegetables/sweet_potatoes@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/vegetables/sweet_potatoes_mobile.png    1x,
              /img/vegetables/sweet_potatoes_mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/vegetables/sweet_potatoes_mobile.png"
            alt="Sweet potatoes"
            width="282"
            height="243"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">carrot</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <picture>
          <source
            srcset="
              /img/vegetables/carrot.png    1x,
              /img/vegetables/carrot@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/vegetables/carrot_mobile.png    1x,
              /img/vegetables/carrot_mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/vegetables/carrot_mobile.png"
            alt="Carrot"
            width="282"
            height="243"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
