ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  cursor: pointer;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;

  color: rgba(4, 3, 6, 0.4);
}

/*-section advertisement-*/

.advertisement {
  background: #fbfbfb;
  padding-top: 83px;
  padding-bottom: 80px;
}

.advertisement-container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 9px;
}

.discount-title {
  display: block;
  text-align: left;
  border-radius: 12px;
  color: #fbfbfb;
  background-color: #576f35;
}

.advertisement-title {
  display: block;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  background-image: url(../img/advertisement/adv-img-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100% 102px;
  padding-left: 10px;
}



@media screen and (max-width: 767px) and (min-resolution: 192dpi) {

  .discount-title {
    background-color: #576f35;
  }

  .advertisement-title {
    background-image: url(../img/advertisement/adv-img-mobile@2x.jpg);
  }

}

@media only screen and (min-width: 768px) {

  .advertisement {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .advertisement-container {
    max-width: 768px;
    padding: 0 16px;
  }

  .advertisement-title {
    font-size: 64px;
    line-height: 1.09;
    background-image: url(../img/advertisement/adv-img-tablet.jpg);
    background-size: 736px 86px;
    padding-top: 8px;
    padding-left: 16px;
  }

}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {


  .discount-title {
    background-color: #576f35;
  }

  .advertisement-title {
    background-image: url(../img/advertisement/adv-img-tablet@2x.jpg);
  }

}

@media only screen and (min-width: 1280px) {

  .advertisement-container {
    max-width: 1280px;
    padding: 0 100px;
  }

  .advertisement-title {
    display: inline-block;
    width: 1054px;
    font-size: 76px;
    line-height: 1.05;
    background-image: url(../img/advertisement/adv-img-desktop.jpg);
    background-size: 808px 86px;
    padding-top: 0px;
    padding-left: 0px;

  }

  .discount-title {
    display: inline-block;
    text-align: center;
    width: 808px;
    margin-right: 7px;
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 192dpi) {

  .discount-title {
    background-color: #576f35;
  }

  .advertisement-title {
    background-image: url(../img/advertisement/adv-img-desktop@2x.jpg);
  }
}

/*-/section advertisement*/