.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #7a3145;
  margin: 0 auto;
}

.footer-container {
  min-width: 320px;
  max-width: 375px;
}

@media only screen and (min-width: 768px) {
  .page-footer {
    padding: 32px 0;
  }
  .footer-container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1280px) {
  .page-footer {
    padding: 50px 0;
  }
  .footer-container {
    max-width: 1280px;
  }
}

.footer-container-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .footer-container-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-container-wrapper {
    margin-bottom: 125px;
  }
}

.footer-logo {
  display: block;
  fill: #fbfbfb;
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .footer-logo {
    margin-bottom: 25px;
  }

  .footer-logo-icon {
    width: 194px;
    height: 18px;
  }
}

.footer-slogan {
  max-width: 296px;
  color: #fbfbfb;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .footer-slogan {
    max-width: 265px;
    font-size: 16px;
    line-height: 125%;
  }
}

.footer-nav-link {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .footer-nav-link {
    font-size: 32px;
  }
}

.footer-nav-list-item:not(:last-child) {
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .footer-nav-list-item:not(:last-child) {
    margin-bottom: 25px;
  }
}

.footer-contacts-link,
.footer-address {
  font-style: normal;
  color: #fbfbfb;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
}

@media only screen and (min-width: 768px) {
  .footer-contacts-link,
  .footer-address {
    font-size: 18px;
    line-height: 111%;
  }
}

.footer-contacts-link {
  display: block;
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .footer-contacts-link {
    margin-bottom: 25px;
  }
}

.nav-and-contacts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .footer-contacts {
    width: 215px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .nav-and-contacts-wrapper {
    gap: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .nav-and-contacts-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    gap: 121px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.privacy-cookies-wrapper {
  display: flex;
  max-width: 171px;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
  flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  .privacy-cookies-wrapper {
    max-width: 248px;
  }
}

.privacy-cookies-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

@media only screen and (min-width: 768px) {
  .privacy-cookies-link {
    font-size: 18px;
    line-height: 111%;
  }
}

.footer-copyright {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

@media only screen and (min-width: 768px) {
  .footer-copyright {
    font-size: 18px;
    line-height: 111%;
  }
}
