h1 {margin: 0;}

.hero-section {
    background-color: #576F35;
}

.hero-container {
    background-color: #576F35;
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 100px 20px 40px;
 }

.hero-title {
    max-width: 335px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFBFB;
    margin-bottom: 20px;
}

.hero-text {
    max-width: 335px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    color: #FBFBFB;
    text-align: left;  
}

.heroimage-background {
    display: block;
    min-width: 320px;
    max-width: 375px;
    height: 370px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-resolution: 191dpi) {
    .heroimage-background {
        background-image: url(../img/hero/heromob@1x.jpg);
    }
}

@media screen and (min-resolution: 192dpi) {
    .heroimage-background {background-image: url(../img/hero/heromob@2x.jpg);}}


/*==========TABLET============*/
@media screen and (min-width: 768px) {
    
    .hero-container {
        max-width: 768px;
        padding: 0 32px;
        padding-top: 122px;
        padding-bottom: 50px;
    }

    .hero-title {
        max-width: 704px; 
        margin-bottom: 25px;
        font-size: 76px;
        line-height: 1;
    }

    .hero-text {
        max-width: 603px;
        font-size: 16px;
        line-height: 1.25;
    }

    .heroimage-background {
        max-width: 768px;
        height: 539px;
    }

@media screen and (max-resolution: 191dpi) {
    .heroimage-background {
        background-image: url(../img/hero/herotab@1x.jpg);
    }
}

@media screen and (min-resolution: 192dpi) {
    .heroimage-background {
        background-image: url(../img/hero/herotab@2x.jpg);
    }
} 
}

/*=========== Desktop=========*/
@media screen and (min-width: 1280px) {
    
    .hero-section {
        display: flex;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-container {
        max-width: 730px;
        padding-top: 238px;
        padding-left: 100px;
        padding-right: 28px;
        margin-bottom: 0;
    }

    .hero-title {
        max-width: 502px;
        margin-bottom: 128px;
    }

    .hero-text {
        max-width: 472px;
    }
     .heroimage-background {
        width: 650px;
        height: 800px;
    }

@media screen and (max-resolution: 191dpi) {
    .heroimage-background {
        background-image: url(../img/hero/herodecktop@1x.jpg);
    }
}

@media screen and (min-resolution: 192dpi) {
    .heroimage-background {
        background-image: url(../img/hero/herodecktop@2x.jpg);
    }
}
}



