@media screen and (max-width: 374px) {
    .my-section-div {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 374px;
    }
    .my-section {
    padding: 80px 0;
    min-width: 320px;
    max-width: 374px;
    background-color: #7A3145;
    }
    .div-h-p {
    max-width: 335px;
    margin-bottom: 40px;
    }
    .my-h {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 104%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFBFB;
    margin-top: 0;
    margin-bottom: 29px;
    }
    .my-harvest {
    color: rgba(251, 251, 251, 0.3);
    }
    .my-p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #FBFBFB;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: left;
    }
    .modal-and-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    .modal {
    border-radius: 30px;
    padding: 40px 20px;
    max-width: 335px;
    background-color: #FBFBFB;
    }
    .modal-p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 108%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: left;
    }
    .modal-a {
    color: #7A3145;
    }
    .modal-a-two {
    color: #576F35;
    }
    .modal-form {
    max-width: 295px;
    height: 283px;
    }    
    .modal-div-input {
    margin-bottom: 15px;
    }
    .modal-input {
    border: 1px solid rgba(20, 20, 20, 0.2);
    border-radius: 30px;
    padding: 14px 220px 14px 16px;
    width: 100%;
    max-width: 295px;
    height: 46px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #141414;
    transition: border-color 0.3s;
    }
    .modal-input:hover,
    .modal-input:active,
    .modal-input:focus {
    border-color: #7A3145;
    outline: none;
    }
    .modal-input:focus:valid,
    .modal-input:valid:focus {
    border-color: #3CBC81;
    }
    .modal-input:invalid  {
    border-color: #E74A3B;
    }
    .modal-textarea {
    border: 1px solid rgba(20, 20, 20, 0.2);
    border-radius: 15px;
    padding: 14px 219px 59px 16px;
    width: 100%;
    max-width: 295px;
    height: 91px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #141414;
    overflow: hidden;
    }
    .modal-textarea:hover,
    .modal-textarea:active,
    .modal-textarea:focus {
    border-color: #7A3145;  
    outline: none;
    }
    .modal-div-textarea {
    margin-bottom: 20px;
    }
    .modal-button {
    border-radius: 30px;
    padding: 16px 100px;
    width: 100%;
    max-width: 295px;
    height: 50px;
    background-color: #576F35;
    border: none;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFBFB;
    }
    .div-two {
    border-radius: 30px;
    padding: 40px 20px;
    max-width: 335px;
    background-color: #576F35;
    }
    .div-two-image {
    border-radius: 15px;
    max-width: 295px;
    height: 273px;
    background: rgba(20, 20, 20, 0.3);
    max-width: 100%;
    overflow: hidden;
    }
    .div-two-p {
    margin-top: 20px;
    margin-bottom: 14px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
    text-align: left;
    }
    .div-two-two {
    max-width: 295px;
    height: 60px;
    }
    .div-two-ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    }
    .div-two-li {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 108%;
    letter-spacing: -0.01em;
    color: #FBFBFB;
    text-decoration: none;
    }  
}
@media screen and (min-width: 375px) {
    .my-section-div {
    padding: 0;
    margin: 0 auto;
    min-width: 375px;
    }
    .my-section {
    padding: 80px 20px;
    width: 100%;
    background-color: #7A3145;
    }
    .div-h-p {
    width: 335px;
    margin-bottom: 40px;
    }
    .my-h {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 104%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFBFB;
    margin-top: 0;
    margin-bottom: 29px;
    }
    .my-harvest {
    color: rgba(251, 251, 251, 0.3);
    }
    .my-p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #FBFBFB;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: left;
    }
    .modal-and-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    .modal {
    border-radius: 30px;
    padding: 40px 20px;
    width: 335px;
    height: 533px;
    background-color: #FBFBFB;
    }
    .modal-p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 108%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: left;
    }
    .modal-a {
    color: #7A3145;
    }
    .modal-a-two {
    color: #576F35;
    }
    .modal-form {
    width: 295px;
    height: 283px;
    }
    .modal-div-input {
    margin-bottom: 15px;
    }
    .modal-input {
    border: 1px solid rgba(20, 20, 20, 0.2);
    border-radius: 30px;
    padding: 14px 220px 14px 16px;
    width: 295px;
    height: 46px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #141414;
    transition: border-color 0.3s;
    }
    .modal-input:hover,
    .modal-input:active,
    .modal-input:focus {
    border-color: #7A3145;
    outline: none;
    }
    .modal-input:focus:valid,
    .modal-input:valid:focus {
    border-color: #3CBC81;
    }
    .modal-input:invalid  {
    border-color: #E74A3B;
    }
    .modal-textarea {
    border: 1px solid rgba(20, 20, 20, 0.2);
    border-radius: 15px;
    padding: 14px 219px 59px 16px;
    width: 295px;
    height: 91px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #141414;
    overflow: hidden;
    }
    .modal-textarea:hover,
    .modal-textarea:active,
    .modal-textarea:focus {
    border-color: #7A3145;  
    outline: none;
    }
    .modal-div-textarea {
    margin-bottom: 20px;
    }
    .modal-button {
    border-radius: 30px;
    padding: 16px 129px;
    width: 295px;
    height: 50px;
    background-color: #576F35;
    border: none;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFBFB;
    }
    .div-two {
    border-radius: 30px;
    padding: 40px 20px;
    width: 335px;
    height: 465px;
    background-color: #576F35;
    }
    .div-two-image {
    border-radius: 15px;
    width: 295px;
    height: 273px;
    background: rgba(20, 20, 20, 0.3);
    }
    .div-two-p {
    margin-top: 20px;
    margin-bottom: 14px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
    text-align: left;
    }
    .div-two-two {
    width: 295px;
    height: 60px;
    }
    .div-two-ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    }
    .div-two-li {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 108%;
    letter-spacing: -0.01em;
    color: #FBFBFB;
    text-decoration: none;
    }  
    }
    @media screen and (min-width: 768px) {
    .my-section-div {
    padding: 0 20px;
    }
    .my-section {
    padding: 100px 0;
    }
    .div-h-p {
    width: auto;
    margin-bottom: 50px;
    }
    .my-h {  
    font-size: 64px;
    line-height: 100%;
    width: 640px;
    margin-bottom: 25px;
    }
    .my-p {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 50px;
    width: 640px;
    }
    .modal-and-div {
    align-items: center;
    gap: 25px;
    }
    .modal {
    padding: 50px 100px;
    width: 628px;
    height: 534px;
    }
    .modal-p {
    margin-bottom: 50px;
    }
    .modal-input {
    border-radius: 30px;
    padding: 16px 345px 16px 16px;
    width: 428px;
    height: 52px;
    }
    .modal-textarea {
    padding: 16px 344px 59px 16px;
    width: 428px;
    height: 95px;
    }
    .modal-div-textarea {
    margin-bottom: 25px;
    }
    .modal-button {
    padding: 16px 191px;
    width: 428px;
    height: 52px;
    }
    .div-two {
    padding: 50px;
    width: 628px;
    height: 490px;
    }
    .div-two-image {
    width: 528px;
    height: 273px;
    }
    .div-two-p {
    margin-top: 50px;
    margin-bottom: 15px;
    }
    .div-two-pp {
    font-size: 32px;
    line-height: 100%;
    }
    .div-two-two {
    width: 492px;
    height: 32px;
    }
    .div-two-li {
    font-size: 32px;
    line-height: 100%;
    }
    }
    @media screen and (min-width: 1280px) {
    .my-section {
    display: flex;
    padding: 100px;
    }
    .div-h-p {
    width: 751px;
    margin-bottom: 50px;
    height: auto;
    }
    .my-h {
    width: 751px;
    margin-left: 0;
    margin-right: 0;
    }
    .my-p {
    width: 742px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    }
    .modal-and-div {
    padding: 0;
    flex-direction: row;
    row-gap: 25px;
    }
    .modal {
    padding: 50px;
    width: 529px;
    height: 534px;
    margin-bottom: 0;
    }
    .modal-input {
    padding: 16px 346px 16px 16px;
    width: 429px;
    }
    .modal-textarea {
    padding: 16px 345px 59px 16px;
    width: 429px;
    }
    .modal-button {
    width: 429px;
    }
    .div-two {
    width: 527px;
    height: 534px;
    }
    .div-two-image {
    width: 427px;
    height: 273px;
    }
    .div-two-two {
    width: 357px;
    height: 76px;
    }
    }
    